

    <!-- intro section -->
    <section class="intro">
      <img src="assets/reservations.png" width="250px" height="250px"> 
      <h1 class="title">Make your Reservations</h1>
      <p>Fill your details and Make you Resevations to visit us.</p>
    </section>

    <!-- sign-up section -->
    <section class="sign-up">
      <p class="sign-up-para">Sign up in here</p>
      <!-- the form itself -->
      <form class="sign-up-form">
        <div class="form-input">
          <input type="text" name="first-name" id="first-name" placeholder="First Name" required>
          <span>!</span>
          <p class="warning">First name cannot be empty</p>
        </div>

        <div class="form-input">
          <input type="text" name="last-name" id="last-name" placeholder="Last Name" required>
          <span>!</span>
          <p class="warning">Last name cannot be empty</p>
        </div>

        <div class="form-input">
          <input type="email" name="email" id="email" placeholder="Email Address" required>
          <span>!</span>
          <p class="warning">Looks like this is not an email</p>
        </div>

        <div class="form-input">
          <input type="Contact Number" name="Contact Number" id="Contact Number" placeholder="Contact Number" required>
          <span>!</span>
          <p class="warning">Please use numbers only</p>
        </div>

        <input class="submit-btn" type="submit" value="Finish Request">
        <p class="form-term">By clicking the button, you are agreeing to our <span>Terms and Services</span> </p>
      </form>
    </section>

