<header class="header">
  <a href="#" class="logo">Save Turtles</a>
  <nav class="nav-items">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </nav>
</header>

<main>
  <div class="intro">
    <h1>Turtle make the world Beautiful</h1>
    <p>Graceful guardians of the deep, sea turtles navigate life's currents with ancient wisdom and gentle perseverance.
    </p>
    <button>Learn More</button>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Green Turtle</p>
      <p class="work-text">Nature's emerald gliders in the vast blue canvas..</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Hawksbill</p>
      <p class="work-text">Carrying the mosaic of the ocean on their sun-kissed shells.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Olive Ridely</p>
      <p class="work-text">Dancing with the tides, they wear the hue of sunlit olive groves..</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>Save Them</h2>
      <p>"Sea turtles, the ancient mariners of the deep, glide through oceans with tales older than time. Their graceful
        journey speaks of mysteries whispered by moonlit waves and secrets held in sandy shores."</p>
    </div>
    <div>
      <img src="/assets/tur3.JPG" width="500" height="500">
    </div>
  </div>
</main>
<footer class="footer">
  <div class="copy">&copy; 2023 Released</div>
  <div class="bottom-links">
    <div class="links">
      <span>More Info</span>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="links">
      <span></span>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>